<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nostrum beatae illo architecto. Voluptatibus, vero. Consequuntur provident ipsam sed suscipit iure et ea. Minus, soluta amet. Odio ut error deserunt inventore!</p>
    </div>

</section>